    <footer class="pt-4">
          <div class="w-full px-6 mx-auto">
        
          </div>
        </footer>
      </div>
      <!-- end cards -->
    </main>

  </body>
  <!-- plugin for charts  -->
  <script src="/assets/js/plugins/chartjs.min.js" async></script>
  <!-- plugin for scrollbar  -->
  <script src="/assets/js/plugins/perfect-scrollbar.min.js" async></script>
  <!-- github button -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- main script file  -->
  <script
    src="/assets/js/soft-ui-dashboard-tailwind.js?v=1.0.5"
    async
  ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (typeof data !== "undefined" && data) { %>
  <script>
    console.log("hello");
    Swal.fire({
      title: "<%=data.success?'success':'failed'%>",
      text: "<%=data.message%>",
      icon: "<%=data.success?'success':'error'%>",
    });
  </script>
  <% } %>
</html>
